.preview-container {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.preview-image {
    max-width: 40%;
    margin-top: 10px;
    margin-bottom: 20px;
}

.upload-button {
    display: block;
    margin-top: 10px;
    margin-bottom: 20px;
    padding: 10px 20px;
    background: transparent;
    border: 2px solid white;
    border-radius: 5px;
    padding: 10px 20px;
    color: white;
    text-decoration: none;
    transition: background-color 0.3s ease, color 0.3s ease, border-color 0.3s ease;
    letter-spacing: 3px;
    font-weight: 400;
}

.upload-button:hover {
    background-color: white;
    color: #333;
    border-color: white;
    cursor: pointer;
}